@page "/converters"

<h3>Converters</h3>

<select @bind="@selectedConverterId" class="form-control col-md-4 mb-4">
    @foreach (var converter in converters)
    {
        <option value="@converter.Id">@converter.NameOfConverter</option>
    }
</select>
@switch (selectedConverterId)
{
    case 1:
        <TimeConverter></TimeConverter>
        break;
    case 2:
        <DistanceConverter></DistanceConverter>
        break;
    case 3:
        <USDToPLNConverter></USDToPLNConverter>
        break;
    default:
        <p>Please select converter</p>
        break;
}
@code {

    public class Converter
    {
        public Converter(int id, string nameOfConverter)
        {
            Id = id;
            NameOfConverter = nameOfConverter;
        }

        public int Id { get; set; }
        public string NameOfConverter { get; set; }

    }
    readonly List<Converter> converters = new List<Converter>
    {
        new Converter(id:1, nameOfConverter:"Time Converter"),
        new Converter(id:2, nameOfConverter:"Distance Converter"),
        new Converter(id:3, nameOfConverter:"USD to PLN Converter")
    };

    int selectedConverterId;


}
